.signin-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.left-side{
    width: 50%;
    background-image: url("../../Images/food.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
}

.right-side{
    width: 50%;
    height: 100%;
}